<section class="w-full
         pt-[110px] sm:pt-[140px] md:pt-[170px] lg:pt-[200px] xl:pt-[220px]
         pb-12 sm:pb-16 md:pb-20 lg:pb-24 xl:pb-[110px]
         bg-[#f7f7f2]">

    <div class="max-w-[1520px] mx-auto">

        <h1 class="max-w-5xl
                   font-medium
                   text-[#001305]

                   text-[42px]
                   sm:text-[52px]
                   md:text-[64px]
                   lg:text-[76px]
                   xl:text-[88px]

                   leading-[1.2]
                   xl:leading-[105.6px]

                   tracking-[-1px]
                   sm:tracking-[-2px]
                   lg:tracking-[-3px]">
            {{ title }}
        </h1>

    </div>
</section>